# PostgreSQL Database Configuration
# These values are used by both the 'postgres' and 'backend' services in Docker Compose.
 POSTGRES_DB=your_db_name
 POSTGRES_USER=your_user
 POSTGRES_PASSWORD=your_password


# AI Service Configuration
# This URL points to the Ollama service. In the Docker Compose setup, 'ai' is the service name.
SPRING_AI_OLLAMA_BASE_URL=http://ai:11434
STABLE_DIFFUSION_URL=http://stable-diffusion-api:7860