body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.glass-container {
  background: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  text-shadow: 1px 1px 2px #000;
}

.collection-title {
  color: rgb(255,255,255);
  text-shadow: 1px 1px 2px #000;
}

.card, .card-body, .card-header {
  background: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  text-shadow: 1px 1px 2px #000;
}

