@use 'theme' as theme;

@include theme.apply-responsive-typography;

body {
    font-size: map-get(theme.$typography, base, p, size);

    @include theme.respond-to(laptop) {
        font-size: map-get(theme.$typography, laptop, p, size);
    }

    @include theme.respond-to(tablet) {
        font-size: map-get(theme.$typography, tablet, p, size);
    }

    @include theme.respond-to(mobile) {
        font-size: map-get(theme.$typography, tablet, p, size); // Use tablet size for mobile body text
    }
}