@use '../../../shared/assets/theme' as theme;

/*
 * Custom styles for the LessonBook carousel.
 */

.title {
  color: var(--title-color);
}

.content-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @include theme.respond-to(laptop) {
        gap: 1rem;
    }

    @include theme.respond-to(mobile) {
        gap: 1.5rem;
    }
}

.carousel-wrapper {
  height: 100%;
  width: 100%;
  max-width: 950px;

  @include theme.respond-to(laptop) {
    max-width: 750px;
  }

  @include theme.respond-to(tablet) {
    max-width: 680px;
  }

  @include theme.respond-to(mobile) {
    max-width: 100%;
    width: 90vw;
  }
}

.studybook-carousel {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 12px rgba(255,255,255, 1);

  :global(.carousel-inner) {
    height: 100%;
    border-radius: 8px;
  }
}

.lessonChapter-select {
    max-width: 450px;
    min-width: 400px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.5rem !important; /* Override bootstrap default */
    padding: 0.5rem 1rem;
    font-weight: 500;
    color: #495057;
    cursor: pointer;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 0 2px 6px rgba(0,0,0, 0.1);

    @include theme.respond-to(mobile) {
        min-width: unset;
        width: 100%;
    }
}


.lessonPage-control-container {
  display: flex;
  background: var(--glass-bg);
  border: 1px solid var(--glass-border-color);
  border-radius: 1rem !important;
  padding: 1rem 0.5rem;
  box-shadow: var(--glass-shadow);
}

%pagination-button-base {
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: var(--primary-color);
    box-shadow: var(--pagination-shadow);
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.lessonPage-item {
  :global(.lessonPage-link) {
    @extend %pagination-button-base;
    width: 2.3rem;
    height: 2.3rem;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    }
  }
}

.lessonPage-control-item {
  :global(.lessonPage-link) {
    @extend %pagination-button-base;
    width: 2rem;
    height: 2rem;

    &:not([disabled]):hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    }
  }
}

.active-lessonPage-item {
  :global(.lessonPage-link) {
    transform: translateY(-2px);
    box-shadow: var(--button-shadow-hover);
    background: var(--primary-gradient);
    color: var(--text-color-light);
    border-color: var(--primary-color);

    &:hover {
      background: var(--primary-gradient-hover);
    }
  }
}

.pageText {
  color: var(--glass-text-color);
}
