.container {
  margin-bottom: 2rem;
  border: 1px solid var(--glass-border-color);
}

.title {
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.stackContainer {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 0.5rem 1rem 1.5rem 1rem;
  gap: 1.5rem;

  // For smooth scrolling on touch devices
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}